# BlockDAG Primordial Testnet
RPC_URL=https://rpc.primordial.bdagscan.com
CHAIN_ID=1043
CURRENCY_SYMBOL=BDAG

PRIVATE_KEY=0xYOUR_PRIVATE_KEY

# Get BlockDAG testnet tokens from:
# https://primordial.bdagscan.com/faucet
